.image {
    margin-left:400px;
    margin-top: 200px;
    float: left;
}

img{
    max-width: 500px ;
}

h1{
    text-align: right;
}

.text{
    margin-right: 1225px;
    margin-top:200px;
    float:right;
}

.description{
    margin-top:100px;
    max-width: 800px;
    float:right;
    margin-right: 600px;
}

button {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : black;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

button:hover {
    color: white;
    background-color: #32991F;
}

.btn-hover:hover{
    background-color: #32991f;
}

