body{
    background-image: url(images/view-illuminated-neon-gaming-keyboard-setup-controller.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    display: grid;
}

header{
    text-align:right;
}

